@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Roboto:wght@300&display=swap");

body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: url(../img/vecteezy_pink-pastel-sky-for-background-beautiful-romantic-dreamy-clouds_2833561.jpg);
  font-family: "Lato", sans-serif;
  color: rgb(42, 42, 42);
}

h1 {
  margin-top: 0;
}

.flex-center,
.weather-data p {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  height: 9rem;
}

.weather-container {
  padding-top: 3rem;
}

.weather-data {
  justify-content: space-between;
  display: flex;
  height: 24rem;
}

.weather-data p {
  font-size: 1.5rem;
  margin: 6px;
}

.data-degrees {
  font-size: 5.5rem;
  text-shadow: 7px 7px rgba(255, 255, 255, 0.75);
}

.data-weather,
.data-city {
  font-weight: bold;
}

input,
button {
  background-color: rgb(236, 236, 236);
  border: none;
  box-shadow: 7px 10px 25px 0px rgba(187, 187, 187, 0.75);
  -webkit-box-shadow: 7px 10px 25px 0px rgba(187, 187, 187, 0.75);
  -moz-box-shadow: 7px 10px 25px 0px rgba(187, 187, 187, 0.75);
  font-family: inherit;
}

input {
  width: 22rem;
  height: 2rem;
  border-radius: 0 15px 0 15px;
  margin: 20px;
  padding: 10px;
  font-size: 1.5rem;
}

input:focus {
  outline: none;
  background-color: rgb(246, 235, 245);
}

button {
  height: 2rem;
  border-radius: 15px 0 15px 0;
  width: 100px;
  font-size: 1rem;
}

button:hover {
  cursor: pointer;
  background-color: rgb(246, 235, 245);
  transform: translatey(-10%);
}
