.weather-data-next {
  height: 11rem;
  margin-top: 3rem;
  padding: 3rem;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid rgb(42, 42, 42);
}

.daily-container {
  border-radius: 8px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.daily-container p,
h1 {
  margin: 0;
}

h1 {
  text-shadow: 4px 4px rgb(255 255 255 / 75%);
}

.bold {
  font-weight: bold;
}

.days {
  font-size: 1.2rem;
}
